#particles-js{ height:100vh;
background-color: rgb(24, 13, 105); 
position: absolute; z-index: -1;
}
.btn{color: #242775;}
.btn:hover{color: #9c2828;}
/* .okoshko{padding-top: 3.5rem;} */
.butnfon{ display: block; 
padding-top: .4rem;
font-size: medium; color: red;
position: absolute;
} 
button{ background-color: transparent;
background-repeat: no-repeat;
border: 1; color: red;
cursor: pointer;
overflow: hidden;
outline: none;
}
button:hover{color: rgb(78, 145, 99);}
.audiolist{ margin-bottom: 5px; font-size: 1.3rem;
border: 1px dashed #a45be8; border-radius: 10px; 
}
*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

